<div id="questions">
  <%= image_tag "paperwork2.jpg", class: "page-image-header card-img-top btr-radius-none btl-radius-none position-center-top" %>
  <div class="card-body">
    <h4 class="page-title text-center">Frequently Asked Questions</h4>
    <hr class="green-ruler">

    <div class="row justify-content-md-center mt-5 mb-3">
      <% if faqs.empty? %>
        <p class="pt-2"><strong>Whoops!</strong> <span class="text-muted">Looks like there are no frequently asked questions yet, people need to be more inquisitive!</span></p>
      <% else %>
        <% faqs.each do |faq| %>
          <div class="col-8">
            <strong><%= faq.question %></strong>

            <p class="text-muted pt-2"><%= faq.answer %></p>

            <% unless faq.equal?(faqs.last) %>
              <hr>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <div class="col-8 mt-5">
        <small class="text-muted">*** If you have any additional questions, please prepare and bring them with you on your first day.  You can also click <%= link_to "here", onboarding_meet_the_management_path %> to find your managers email and ask them directly.</small>
      </div>
    </div>
  </div>

  <div class="card-footer text-center">
    <%= link_to "Previous Step", onboarding_paperwork_path, class: "btn mx-3 previous-btn" %>
    <%= link_to "Next Step", onboarding_policies_path, class: "btn mx-3 next-btn" %>
  </div>
</div>
