<div id="unit-leader-tasks-page">
  <div class="row">
    <div class="col">
      <div id="tasks-flash-messages">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card max-height-card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <%= link_to "Ready to Schedule (#{ready_to_schedule.count})", '', class: "nav-link active" %>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% ready_to_schedule.each do |member| %>
              <li class="list-group-item"><%= link_to member.full_name, unit_leader_member_path(@unit, member) %> <a href="#" class="pull-right btn btn-light">Schedule</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card max-height-card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <%= link_to "Waiting Verification (#{need_verification.count})", '', class: "nav-link active" %>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th class="border-top-0" scope="col" >Member</th>
                <th class="border-top-0" scope="col">State</th>
                <th class="border-top-0" scope="col">E-Verify</th>
                <th class="border-top-0"></th>
                <th class="border-top-0"></th>
              </tr>
            </thead>
            <tbody>
              <% need_verification.each do |member| %>
                <tr>
                  <% if member.ready_for_verification? %>
                    <td><%= link_to member.full_name, unit_leader_member_path(@unit, member) %></td>
                    <td class="text-center">
                      <input class="state-verified-checkbox form-check-input" type="checkbox" <%= member.state_verified ? 'checked' : '' %>>
                    </td>
                    <td class="text-center">
                      <input class="e-verified-checkbox form-check-input" type="checkbox" <%= member.e_verified ? 'checked' : '' %>>
                    </td>
                    <td></td>
                    <td><button data-user-id-url="<%= unit_leader_user_path(@unit, member.id) %>" class="update-tasks-btn btn btn-primary px-2 py-1">Update</button></td>
                  <% else %>
                    <td><%= link_to member.full_name, unit_leader_member_path(@unit, member) %></td>
                    <td class="text-center">
                      <input class="state-verified-checkbox form-check-input" type="checkbox" disabled>
                    </td>
                    <td class="text-center">
                      <input class="e-verified-checkbox form-check-input" type="checkbox" disabled>
                    </td>
                    <td></td>
                    <td><button data-toggle="tooltip" data-placement="top" title="Missing: <%= missing_verification_items(member) %>" class="btn btn-secondary px-2 py-1">Not Ready</button></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
