<div id="org-login-page">
  <div class="row justify-content-center">
    <div class="col-6 my-5">
      <h4 class="text-center"><i class="fa fa-sign-in default-blue-text mr-sm-2" aria-hidden="true"></i> Sign in to <span class="font-weight-bold"><%= @organization.name %></span></h4>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-4">
      <%= form_for(resource, as: resource_name, url: user_session_path(resource_name)) do |f| %>
        <%= render 'shared/errors', obj: resource %>
        <div class="form-group">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Enter Email" %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: "form-label" %>
          <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Password" %>
        </div>

        <%= f.submit "Log in", class: "btn btn-primary w-100 mb-3 mt-1" %>
        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
