<div id="meet-the-management">
  <%= image_tag @organization.store_front, id: "organization-building-img", class: "card-img-top btr-radius-none btl-radius-none" %>
  <div class="card-body">
    <h4 class="card-title">Meet Your Managers</h4>
    <p class="card-text">Below are the managers of <%= @organization.name %></p>
    <div class="row">
      <% @organization.managers.each do |manager| %>
        <div class="col-sm-4">
          <div class="manager-card card mb-3">
            <%= image_tag manager.picture, class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= manager.name %></h5>
              <p class="card-text"><%= manager.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
