<nav class="navbar navbar-expand-lg" id="top-nav">
  <div class="container">
    <%= link_to (user_signed_in? ? home_path : root_url(subdomain: "")), class: "navbar-brand" do %>
      <%= image_tag("https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/PastedGraphic-1.png", width: 42, height: 42, alt: "Circle Pop") %>
    <% end %>

    <% if current_user %>
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarUserContent" aria-controls="navbarUserContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon navbar-dark"></span>
      </button>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarUserContent">
      <ul class="navbar-nav ml-lg-auto" id="top-nav-links">
        <% if current_user %>
          <li class="nav-item"><%= link_to "Home", home_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Onboarding", onboarding_meet_the_management_path, class: "nav-link" %></li>
          <% if current_user.owner? %>
            <li class="nav-item"><%= link_to "Owner Portal", owner_root_path, class: "nav-link" %></li>
            <% if !current_user.unit.nil? %>
              <li class="nav-item"><%= link_to "Unit Portal", unit_leader_root_path(current_user.unit), class: "nav-link" %></li>
            <% end %>
          <% elsif current_user.unit_leader? %>
            <li class="nav-item"><%= link_to "Unit Portal", unit_leader_root_path(current_user.unit), class: "nav-link" %></li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> <%= current_user.full_name %></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Edit Profile", edit_user_path(current_user), class: "dropdown-item" %>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Help</a>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
