<ul>
  <% if current_user %>
    <li><%= link_to "Home", home_path %></li>
    <% if current_user.owner? %>
      <li><%= link_to "Organization Center", owner_home_path %></li>
    <% end %>
    <li>
      <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-default", id: "logout" do %>
        LOGOUT
      <% end %>
    </li>
    <li><%= link_to "Welcome", welcome_path %></li>
    <li><%= link_to "Introduction", onboarding_meet_the_management_path %></li>
    <li><%= link_to "Paperword", onboarding_paperwork_path %></li>
    <li><%= link_to "Policies", onboarding_policies_path %></li>
    <li><%= link_to "Applications", onboarding_apps_path %></li>
    <li><%= link_to "Your First Day", onboarding_first_day_path %></li>
    <li><%= link_to "Complete!", home_path %></li>
  <% end %>
</ul>
