<div class="col-md-3 col-md-pull-9 menu">
  <div class="side-bar" role="group" aria-label="...">
    <ul>
      <li class="active"><%= link_to "Introduction", onboarding_meet_the_management_path %></li>
      <li><%= link_to "Employee Info", onboarding_employee_info_path %>
      <li><%= link_to "Paperwork", onboarding_paperwork_path %></li>
      <li><%= link_to "Policies", onboarding_policies_path %></li>
      <li><%= link_to "Applications", onboarding_apps_path %></li>
      <li><%= link_to "Your First Day", onboarding_first_day_path %></li>
      <li><%= link_to "Complete!", home_path %></li>
    </ul>
  </div>
</div>
