<% content_for :content do %>
  <div id="content">
    <div id="owner-content" class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-sm">
          <h5 class="page-title">Owner Portal | <span class="default-green-text font-weight-bold"><%= @organization.name %></span></h5>
        </div>

        <ul id="owner-nav" class="nav nav-pills mr-3">
          <li class="nav-item">
            <%= link_to "Dashboard", owner_root_path, class: "nav-link #{current_owner_tab?('home')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Members", owner_members_path, class: "nav-link #{current_owner_tab?('users')} #{current_owner_tab?('invites')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Units", owner_units_path, class: "nav-link #{current_owner_tab?('units')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Preferences", owner_preferences_path, class: "nav-link #{current_owner_tab?('preferences')} #{current_owner_tab?('managers')} #{current_owner_tab?('faqs')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Tasks", owner_tasks_path, class: "nav-link #{current_owner_tab?('tasks')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Reports", owner_reports_members_path, class: "nav-link #{current_owner_tab?('reports/users')} #{current_owner_tab?('reports/units')}" %>
          </li>
        </ul>
      </div>

      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
