<div id="user-home-page">
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title steel-city-green-text">Onboarding Progress</h4>
          <h6 class="card-subtitle mb-2 text-muted">Current Progress: <%= user.progress %></h6>
          <hr>
          <div class="progress">
            <div class="progress-bar progress-bar-striped default-blue-bg" role="progressbar" style="width: <%= onboarding_percentage_complete(user) %>%;" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <%= link_to "#{onboarding_button_name(user.progress)} Onboarding", onboarding_current_path(user.progress), class: "btn next-btn mt-3" %>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title steel-city-green-text"><%= user.full_name %> <%= image_tag "https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/man-blk.png", width: 25, height: 25 %></h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
          <hr>
          <div class="row mb-3">
            <div class="col-4">
              <label class="card-text text-muted pull-right mt-1">Organization</label>
            </div>
            <div class="col">
              <input value="<%= @organization.name %>" class="pull-left form-control default-linear-background user-disabled-info-input" disabled>
            </div>
          </div>
          <% if !user.unit.nil? %>
            <div class="row mb-3">
              <div class="col-4">
                <label class="card-text text-muted pull-right mt-1">Unit</label>
              </div>
              <div class="col">
                <input value="<%= user.unit.name %>" class="pull-left form-control default-linear-background user-disabled-info-input" disabled>
              </div>
            </div>
          <% end %>
          <div class="row mb-3">
            <div class="col-4">
              <label class="card-text text-muted pull-right mt-1">Employee Type</label>
            </div>
            <div class="col">
              <input value="<%= user.employee_type %>" class="pull-left form-control default-linear-background user-disabled-info-input" placeholder="Pending..." disabled>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <label class="card-text text-muted pull-right mt-1">Wage</label>
            </div>
            <div class="col">
              <input value="<%= user.wage.nil? ? '' : wage_presenter(user) %>" class="pull-left form-control default-linear-background user-disabled-info-input" placeholder="Pending..." disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title steel-city-green-text">Schedule</h4>
          <h6 class="card-subtitle mb-2 text-muted">Incomplete</h6>
          <hr>
          <p class="card-text">Once you have completed your onboarding process you will be able to see your schedule here</p>
        </div>
      </div>
      <div class="card mb-3 text-center">
        <div class="card-body">
          <h4 class="card-title steel-city-green-text">Applications Setup</h4>
          <h6 class="card-subtitle mb-2 text-muted">3rd party apps used by <strong><%= @organization.name %></strong></h6>
          <hr>
          <div class="row justify-content-md-center">
            <div class="col-md-4 text-center">
              <strong class="text-muted app-information">
                <%= image_tag "https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/Slack+Logo.png", height: 40, width: 40 %>
                <div class="mt-2">
                  Slack
                </div>
                <div>
                  <i class="fa fa-circle-o" aria-hidden="true"></i>
                </div>
              </strong>
            </div>
            <div class="col-md-4 text-center">
              <strong class="text-muted app-information">
                <%= image_tag "https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/WhenIWork+Logo.png", height: 40, width: 40 %>
                <div class="mt-2">
                  WhenIWork
                </div>
                <div>
                  <i class="fa fa-circle-o" aria-hidden="true"></i>
                </div>
              </strong>
            </div>
            <div class="col-md-4 text-center">
              <strong class="text-muted app-information">
                <%= image_tag "https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/Square+Logo.png", height: 40, width: 40 %>
                <div class="mt-2">
                  Square
                </div>
                <div>
                  <i class="fa fa-circle-o" aria-hidden="true"></i>
                </div>
              </strong>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title steel-city-green-text">Paperwork <%= image_tag "https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/pencil-and-paper.png", width: 25, height: 25 %></h4>
          <h6 class="card-subtitle mb-3 text-muted">awaiting completion</h6>
          <hr>
          <p class="card-text text-muted">Direct Deposit Form <i class="fa fa-circle-o pull-right" aria-hidden="true"></i></p>
          <p class="card-text text-muted">I-9 Form <i class="fa fa-circle-o pull-right" aria-hidden="true"></i></p>
          <p class="card-text text-muted">NCND <i class="fa fa-circle-o pull-right" aria-hidden="true"></i></p>
          <p class="card-text text-muted">W-4 Form <i class="fa fa-circle-o pull-right" aria-hidden="true"></i></p>
          <p class="card-text text-muted">Model Exchance <i class="fa fa-circle-o pull-right" aria-hidden="true"></i></p>
          <p class="card-text text-muted">Copy of Passport <i class="fa fa-circle-o pull-right" aria-hidden="true"></i></p>
          <p class="card-text text-muted">Copy of blank check <i class="fa fa-circle-o pull-right" aria-hidden="true"></i></p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title steel-city-green-text">Fun Fact</h4>
          <hr>
          <% if old_fun_fact %>
            <div id="old-fun-fact-div">
              <small class="card-subtitle text-muted"><%= old_fun_fact.question %></small>
              <small id="change-fun-fact-answer-link" class="danger-text add-pointer-cursor">(Change Answer)</small>
              <input value="<%= old_fun_fact.answer %>" class="form-control default-linear-background mt-2" disabled>
            </div>
            <div id="update-fun-fact-div">
              <%= form_for [:users, old_fun_fact], remote: true do |f| %>
                <span id="fun-fact-errors"></span>
                <small class="card-subtitle text-muted">What is your favorite Restaurant?</small>
                <div class="input-group mt-2">
                  <%= f.text_field :answer, class: "form-control" %>
                  <span class="input-group-btn">
                    <%= f.button :submit, class: "btn btn-primary" do %>
                      <i class='fa fa-check' aria-hidden='true'></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
          <% else %>
            <div id="old-fun-fact-div"></div>
            <div id="new-fun-fact-div">
              <%= form_for [:users, new_fun_fact], remote: true do |f| %>
                <span id="fun-fact-errors"></span>
                <small class="card-subtitle text-muted">What is your favorite Restaurant?</small>
                <%= f.hidden_field :question, value: "What is your favorite Restaurant?" %>
                <div class="input-group mt-2">
                  <%= f.text_field :answer, class: "form-control" %>
                  <span class="input-group-btn">
                    <%= f.button :submit, class: "btn btn-primary" do %>
                      <i class='fa fa-check' aria-hidden='true'></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#change-fun-fact-answer-link").on('click', function() {
    $("#old-fun-fact-div").slideToggle();
    $("#update-fun-fact-div").slideToggle();
  });
</script>
