<div id="policies">
  <%= image_tag "https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/paperwork.jpg", class: "page-image-header position-center-center card-img-top btr-radius-none btl-radius-none" %>
  <div class="card-body">
    <h4 class="page-title text-center">Policies</h4>
    <hr class="green-ruler">

    <div class="row justify-content-md-center my-5">
      <% if policies.empty? %>
        <p class="pt-2"><strong>Whoops!</strong> <span class="text-muted">Looks like there are no policies yet, this could be good or bad...</span></p></p>
      <% else %>
        <div class="col-8">
          <div style="max-height: 450px; overflow: auto;" class="card">
            <div class="card-body">
              <% policies.each do |policy| %>
                <div class="col">
                  <strong><%= policy.name %></strong>

                  <p class="text-muted pt-2 policy-description"><%= policy.description %></p>

                  <% unless policy.equal?(policies.last) %>
                    <hr>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col-8 mt-5">
        <small class="text-muted">*** The policies shown here are reflective of <strong><%= @organization.name %></strong> and not MyFirstShift, Inc.</small>
      </div>
    </div>
  </div>

  <div class="card-footer text-center">
    <%= link_to "Previous Step", unit_onboarding_questions_path(@unit), class: "btn mx-3 previous-btn" %>
    <%= link_to "Next Step", unit_onboarding_apps_path(@unit), class: "btn mx-3 next-btn" %>
  </div>
</div>
