<div id="apps">
  <div class="card-body">
    <h4 class="page-title text-center">Applications</h4>
    <hr class="green-ruler">
    <div class="row justify-content-md-center">
      <div class="col-6">
        <p class="card-text text-muted text-center"><strong><%= @organization.name %> uses several third party applications in their day to day operations. Below we will walk you through signing up for each one.</strong></p>
      </div>
    </div>

    <div class="row justify-content-md-center mt-5 mb-3 pt-3">
      <div class="col">
        <div class="card">
          <%= image_tag "https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/Slack+Logo.png", class: "card-img-top mx-auto" %>
          <div class="card-body text-center mt-4">
            <h4 class="card-title">Slack</h4>
            <p class="card-text text-muted"><strong>Slack</strong> brings all your team's communication together, giving everyone a shared workspace where conversations are organized and accessible.</p>
            <p class="card-text text-muted"><strong><%= @organization.name %></strong> has a <strong>Slack</strong> team already setup for you to start communicating with.</p>
          </div>

          <div class="card-btn text-center">
            <a id="slack-btn" href="#" class="btn btn-primary px-5">Join</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <%= image_tag "https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/WhenIWork+Logo.png", class: "card-img-top mx-auto" %>
          <div class="card-body text-center mt-4">
            <h4 class="card-title">When I Work</h4>
            <p class="card-text text-muted"><strong>When I Work</strong> makes scheduling easy for your team. You can file availabilities and change shifts all from your desktop or mobile device, and never have to come into the store.</p>
            <p class="card-text text-muted"><strong><%= @organization.name %></strong> has a <strong>When I Work</strong> group already setup.  Click below to join and create your schedule.</p>
          </div>
          <div class="card-btn text-center">
            <a id="wheniwork-btn" href="#" class="btn btn-primary px-5">Join</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <%= image_tag "https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/Square+Logo.png", class: "card-img-top mx-auto" %>
          <div class="card-body text-center mt-4">
            <h4 class="card-title">Square</h4>
            <p class="card-text text-muted"><strong>Square</strong> Point of Sale is designed for simplicity. Drag and drop items and categories, customize your items grid, and bring popular items front and center.</p>
            <p class="card-text text-muted"><strong><%= @organization.name %></strong> uses <strong>Square</strong> as their point of sale system.  Click Below to become more familiar with how the system works.</p>
          </div>
          <div class="card-btn text-center">
            <a id="square-btn" href="https://squareup.com/help/us/en/article/5123-square-get-started-guide" class="btn btn-primary px-5" target="_blank">Learn</a>
          </div>
        </div>
      </div>
      <div class="col-8 mt-5">
        <small class="text-muted">*** The products and applications made available on this page are provided by third-parties unaffiliated with MyFirstShift, Inc.</small>
      </div>
    </div>
  </div>

  <div class="card-footer text-center">
    <%= link_to "Previous Step", onboarding_policies_path, class: "btn mx-3 previous-btn" %>
    <%= link_to "Next Step", onboarding_first_day_path, class: "btn mx-3 next-btn" %>
  </div>
</div>
