<div id="owner-preferences-page">
  <div class="row">
    <div class="col">
      <%= render partial: 'shared/flash_messages' %>
      <div class="tabular-card card">
        <div class="card-header">
          <%= render partial: 'organizations/owner/shared/preferences_nav', locals: { managers: nil, faqs: nil } %>
        </div>
      </div>
      <div class="card tab-joiner-card border-top-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="tabular-card card">
                <h5 class="card-header">
                  'Your First Day' Content
                </h5>
                <div class="card-body">
                  <%= form_for [:owner, FirstDayItem.new], method: :post, class: "form-inline" do |f| %>
                    <div class="row">
                      <div class="col-8">
                        <%= f.text_field :title, class: "form-control", placeholder: "Subject (Example: What to Wear?)" %>
                      </div>
                      <div class="col-4">
                        <%= f.submit "Add Item", class: "btn btn-primary pull-right" %>
                      </div>
                    </div>
                    <div id="item-descriptions-div" class="mb-2">
                      <%= f.text_area :list_items, rows: 1, multiple: true, class: "form-control mt-3", placeholder: "Item Description (example: Company Shirt)" %>
                      <%= content_tag(:span, data: { f_field: "#{f.text_area :list_items, rows: 1, multiple: true, class: 'form-control mt-3', placeholder: 'Item Description'}" }, class: "mb-2", id: "additional-item-description") do %>
                      <% end %>
                    </div>
                    <%= link_to "Add Item Description", '', id: "add-item-description-link" %>
                  <% end %>
                </div>
              </div>
              <div class="tab-joiner-card card">
                <div class="card-body">
                  <% first_day_items.each do |first_day_item| %>
                    <h5 class="card-title">
                      <%= first_day_item.title %>
                      <%= link_to owner_first_day_item_path(first_day_item), method: :delete do %>
                        <i class="fa fa-trash danger-text ml-2" aria-hidden="true"></i>
                      <% end %>
                    </h5>
                    <% first_day_item.list_items.each do |list_item| %>
                      <h6 class="card-subtitle mb-2 text-muted"><%= list_item %></h6>
                    <% end %>
                    <% unless first_day_item.equal?(first_day_items.last) %>
                      <hr>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h5 class="card-header">
                  Store Front
                </h5>
                <% if !store_front.blank? %>
                  <%= image_tag store_front, class: "card-img-top btr-radius-none btl-radius-none" %>
                <% end %>
                <div class="card-body">
                  <p class="card-text text-muted">Click below to upload a new photo of your organization</p>
                  <%= form_for [:owner, @organization], multipart: true do |f| %>
                    <%= f.file_field :store_front, class: 'mb-3' %>
                    <br />
                    <%= f.submit "Upload", class: "btn btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
