<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://use.fontawesome.com/bc6f7a83fb.js"></script>
    <style>
      body { font-family: 'Muli', sans-serif; color: #868e96;}
    </style>
  </head>

  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <div style="border: 1px solid #868e96; width: 550px; padding-top: 15px; background: linear-gradient(5deg, #f7f8f2, #ffffff); border-top-right-radius: 5px; border-top-left-radius: 5px;">
            <%= link_to root_url(subdomain: "") do %>
              <%= image_tag("https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/PastedGraphic-1.png", width: 42, height: 42, alt: "Circle Pop") %>
            <% end %>
            <h1><span style="color: #868e96;">My</span> <span style="color: #929F4C;">First</span> <span style="color: #868e96;">Shift</span></h1>
          </div>
        </td>
      </tr>

      <tr>
        <td align="center">
          <div style="border: 1px solid #868e96; width: 550px; padding-top: 15px; border-top: none; border-bottom: none; padding-bottom: 40px; padding-bottom: none;">
            <%= yield %>
          </div>
        </td>
      </tr>

      <tr>
        <td align="center">
          <div style="border: 1px solid #868e96; width: 550px; padding-top: 15px; border-top: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
            <hr style="color: #868e96; width: 75%;">
            <ul style="list-style: none;">
              <li style="display: inline-block; margin-right: 15px;"><%= image_tag("https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/font-awesome-facebook.png", width: 20, height: 20, alt: "Circle Pop") %></li>
              <li style="display: inline-block; margin-left: 15px; margin-right: 15px;"><%= image_tag("https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/font-awesome-twitter.png", width: 20, height: 20, alt: "Circle Pop") %></li>
              <li style="display: inline-block; margin-left: 15px; margin-right: 15px;"><%= image_tag("https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/font-awesome-instagram.png", width: 20, height: 20, alt: "Circle Pop") %></li>
              <li style="display: inline-block; margin-left: 15px;"><%= image_tag("https://s3.us-east-2.amazonaws.com/myfirstshift-onboarding-assets-demo/font-awesome-linkedin.png", width: 20, height: 20, alt: "Circle Pop") %></li>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
