<div id="owner-invites-page">
  <div class="row">
    <div class="col">
      <%= render partial: 'shared/flash_messages' %>
      <div class="tabular-card card">
        <div class="card-header">
          <%= render partial: 'organizations/owner/shared/members_nav', locals: { member_count: nil } %>
        </div>
        <div class="card-body">
          <%= render partial: 'invites_filter_bar' %>
        </div>
      </div>
      <div class="tab-joiner-card card">
        <div class="card-body mx-sm-3">
          <%= render partial: 'invites_nav', locals: { pending_invites: pending_invites, accepted_invites: accepted_invites } %>

          <%= render partial: 'pending_invites', locals: { pending_invites: pending_invites } %>

          <%= render partial: 'accepted_invites', locals: { accepted_invites: accepted_invites } %>
        </div>
      </div>
    </div>
  </div>
</div>
