<p>Enter email of user you would like to invite</p>

<div>
  <%= form_for @invite, url: owner_invites_path do |f| %>
    <%= render 'shared/errors', obj: @invite %>

    <div>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <%= f.submit "Send Invite" %>
  <% end %>
</div>
