<div id="unit-leader-preferences-page">
  <div class="row">
    <div class="col">
      <div class="tabular-card card">
        <div class="card-header">
          <%= render partial: 'organizations/units/leader/shared/preferences_nav', locals: { managers: nil, faqs: nil } %>
        </div>
      </div>
      <div class="card tab-joiner-card border-top-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="card">
                <h5 class="card-header">
                  First Day
                </h5>
                <div class="card-body">
                  <h5 class="card-title">Video</h5>
                  <h6 class="card-subtitle mb-2 text-muted">A video showing what to expect on the first day</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h5 class="card-header">
                  Store Front
                </h5>
                <% if !@unit.store_front.blank? %>
                  <%= image_tag @unit.store_front, class: "card-img-top btr-radius-none btl-radius-none" %>
                <% end %>
                <div class="card-body">
                  <p class="card-text text-muted">Click below to upload a new photo of your organization</p>
                  <%= form_for [@unit, :leader, @unit], multipart: true do |f| %>
                    <%= f.file_field :store_front, class: 'mb-3' %>
                    <br />
                    <%= f.submit "Upload", class: "btn btn-primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
