<!DOCTYPE html>
<html>
  <head>
    <title>Myfirstshift</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= render 'shared/header' %>

    <div id="msg-header">
      <div class="container">
        <div class="row">
          <%= render 'layouts/messages' %>
        </div>
      </div>
    </div>

    <div id="content-container">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

    <footer>
      <div class="container">
      </div>
    </footer>
  </body>
</html>
