<!DOCTYPE html>
<html>
  <head>
    <title>Myfirstshift</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  </head>

  <body class="front">
    <%= render partial: 'front/header' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
