<div id="owner-members-page">
  <div class="row">
    <div class="col">
      <%= render partial: 'shared/flash_messages' %>
      <div class="tabular-card card">
        <div class="card-header">
          <%= render partial: 'organizations/owner/shared/members_nav', locals: { member_count: members.count } %>
        </div>
        <div class="card-body">
          <%= render partial: 'members_filter_bar' %>
        </div>
      </div>
      <div class="tab-joiner-card card">
        <div class="card-body mx-sm-3">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col border-top-0">Name</th>
                <th scope="col border-top-0">Username</th>
                <th scope="col border-top-0">Email</th>
                <th scope="col border-top-0">Employee Type</th>
                <th scope="col border-top-0">Status</th>
                <th scope="col border-top-0"></th>
              </tr>
            </thead>
            <tbody>
              <% members.each do |member| %>
                <tr class="<%= member.deleted_at.nil? ? '' : 'text-danger' %>">
                  <td><%= member.last_name %>, <%= member.first_name %></td>
                  <td><%= member.username %></td>
                  <td><%= member.email %></td>
                  <td><%= member.employee_type.try(:capitalize) %></td>
                  <td><%= member.progress.try(:capitalize) %></td>
                  <td><%= link_to "Details", owner_member_path(member) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
